/*  */

@import url('https://fonts.googleapis.com/css?family=Raleway:400,400i,700,700i');
body{
	font-family: 'Raleway', sans-serif; font-size:16px; font-weight:300; color: #555; margin: 0; padding: 0;
}

#page {
	max-width: 1200px; margin: 0 auto; position: relative;
}

	
/* text */
h1 { 
	margin: 0 0 1em 0; font-size: 2.0em; font-weight:700;
}
h2 { 
	margin: 0 0 .5em 0; font-size: 1.6em; font-weight:700; line-height: 1.1em;
}
h3 { 
	margin: 0 0 .5em 0; font-size: 1.3em; font-weight:700;
}
h4 { 
	margin: 0 0 1.5em 0; font-size: 1em; font-weight:700;
}
p {
	margin: 0 0 1em 0;
}
a {
	color: #007eff;
}
a:visited {
	color: #65b1ff;
}

/* Header */

/*
header { 
	height: 430px; background-image: url(../images/banner_1200.jpg); 
	background-repeat:no-repeat; background-position:center botton; position: relative;
	}
*/

/*nav bar*/
body{
  margin: 0px;
  padding: 0px;
  background: #e74c3c;
  font-family: 'Lato', sans-serif;
}

h1{
  margin: 2em 0px;
  padding: 0px;
  color: #fff;
  text-align: center;
  font-weight: 100;
  font-size: 50px;
}

nav{
  width: 750px;
  margin: 1em auto;
}

ul{
  margin: 0px;
  padding: 0px;
  list-style: none;
}

ul.dropdown{ 
  position: relative; 
  width: 100%; 
}

ul.dropdown li{ 
  font-weight: bold; 
  float: left; 
  width: 180px; 
  position: relative;
  background: #ecf0f1;
}

ul.dropdown a:hover{ 
  color: #000; 
}

ul.dropdown li a { 
  display: block; 
  padding: 20px 8px;
  color: #34495e; 
  position: relative; 
  z-index: 2000; 
  text-align: center;
  text-decoration: none;
  font-weight: 300;
}

ul.dropdown li a:hover,
ul.dropdown li a.hover{ 
  background: #3498db;
  position: relative;
  color: #fff;
}


ul.dropdown ul{ 
 display: none;
 position: absolute; 
  top: 0; 
  left: 0; 
  width: 180px; 
  z-index: 1000;
}

ul.dropdown ul li { 
  font-weight: normal; 
  background: #f6f6f6; 
  color: #000; 
  border-bottom: 1px solid #ccc; 
}

ul.dropdown ul li a{ 
  display: block; 
  color: #34495e !important;
  background: #eee !important;
} 

ul.dropdown ul li a:hover{
  display: block; 
  background: #3498db !important;
  color: #fff !important;
} 

.drop > a{
  position: relative;
}

.drop > a:after{
  content:"";
  position: absolute;
  right: 10px;
  top: 40%;
  border-left: 5px solid transparent;
  border-top: 5px solid #333;
  border-right: 5px solid transparent;
  z-index: 999;
}

.drop > a:hover:after{
  content:"";
   border-left: 5px solid transparent;
  border-top: 5px solid #fff;
  border-right: 5px solid transparent;
}
/*end nav bar*/
