/*  */

@import url('https://fonts.googleapis.com/css?family=Raleway:400,400i,700,700i');
body{
	font-family: 'Raleway', sans-serif; font-size:16px; font-weight:300; color: #555; margin: 0; padding: 0;
}

div.responsive-menu {
	font-family: 'Nunito Sans', sans-serif;
	
}

#page {
	max-width: 1200px; margin: 0 auto; position: relative;
}


/* HTML5 display-role reset for older browsers */

body {
    line-height: 1;
}

ins {
    text-decoration: none;
}
del {
    text-decoration: line-through;
}
 
table {
    border-collapse: collapse;
    border-spacing: 0;
}
/*begin our styles*/
ul {
    margin: 0 0 1.5em;
    list-style: disc;
    padding: 0 0 0 20px;
}


 
/*layout*/
 
.wrapper {
}
 
article {
    border-bottom: 1px solid #d8d8d8;
    padding: 10px 20px 0 20px;
    margin: 10px 0;
}
 
/*Header*/
 
header {
    background: #1c1c1c;
    padding: 15px 20px;
}
 
header:before,
header:after {
    content:"";
    display:table;
}
         
header:after {
    clear:both;
}
         
header {
    zoom:1;
}
 
h1.logo a {
    color: #d8d8d8;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 20px;
    line-height: 22px;
    float: right;
    letter-spacing: 0.2em;
}
 
/*Menu*/

.menu-btn div {
	position: absolute;
	left: 100%;
	top: 64%;
	padding-right: 8px;
	margin-top: -0.50em;
	line-height: 1.2;
	font-size: 18px;
	font-weight: 200;
	vertical-align: middle;
	z-index: 99;
}

.menu-btn span {
	display: block;
	width: 19px;
	height: 3px;
	margin: 4px 0;
	background: rgb(255,255,255);
	z-index: 99;
}

.responsive-menu{
	max-height:0;
	background: #1c1c1c;
	width: 300px;
	overflow: hidden;
	transition: all .25s;
}

.expand {
	max-height: 300px;
}

.open-menu-link{
	display: none;
	position: absolute;
	right: 15px;
	top:0;
	line-height: 55px;
	font-size: 30px;
	cursor: pointer;
}

li .sub-menu{
	display: none;
}

.visible {
	display: block !important;
}
 
/*footer*/
body {
	display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
	flex: 1 0 auto;
}

/* main section */
#randomNode{
	position: relative;
	bottom: 100px
)




/*media queries*/
 
@media only screen and (min-width: 768px) {
 
}

@media only screen and (min-width: 768px) {
 
    a.to_nav {
        display: none;
    }
 
}

@media only screen and (min-width: 768px) {
 
    a.to_nav {
        display: none;
    }
     
    .wrapper {
        position: relative;
        width: 768px;
        margin: auto;
    }
     
    #primary_nav {
        position: absolute;
        top: 5px;
        right: 10px;
        background: none;
    }
     
    #primary_nav li {
        display: inline;
    }
     
    #primary_nav li a {
        float: left;
        border: none;
        padding: 0 10px;
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        border-radius: 2px;
    }
 
}

#primary_nav li.top {
    display: none;
}


/* blockquote */
blockquote {
    font-family: Georgia, serif;
    font-size: 18px;
    font-style: italic;
    width: 500px;
    margin: 0.25em 0;
    padding: 0.35em 40px;
    line-height: 1.45;
    position: relative;
    color: #383838;
}

blockquote:before {
    display: block;
    padding-left: 10px;
    content: "\201C";
    font-size: 80px;
    position: absolute;
    left: -20px;
    top: -20px;
    color: #7a7a7a;
}

blockquote cite {
    color: #999999;
    font-size: 14px;
    display: block;
    margin-top: 5px;
}

blockquote cite:before {
    content: "\2014 \2009";
}


/* invisible button */
#invisible {
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
}
